<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.smartfarm.controller.MainServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.smartfarm.controller.UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FarmServlet</servlet-name>
    <servlet-class>com.smartfarm.controller.FarmServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FarmServlet</servlet-name>
    <url-pattern>/farm</url-pattern>
  </servlet-mapping>

</web-app>
